flow(3).json
[
    {
        "id": "a4ae02364d749f7a",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9baff85399d4cc09",
        "type": "inject",
        "z": "a4ae02364d749f7a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Texto de prueba del grupo 9",
        "payloadType": "str",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "f9894c829b5dd2d1"
            ]
        ]
    },
    {
        "id": "20a9b82bfa0197f0",
        "type": "inject",
        "z": "a4ae02364d749f7a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "topic 1",
        "payload": "0",
        "payloadType": "str",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "7f07e2a5530fef48",
                "50511441efa9a6a1"
            ]
        ]
    },
    {
        "id": "5853065d5ddfc66c",
        "type": "inject",
        "z": "a4ae02364d749f7a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "topic 2",
        "payload": "5",
        "payloadType": "str",
        "x": 120,
        "y": 220,
        "wires": [
            [
                "7f07e2a5530fef48",
                "50511441efa9a6a1"
            ]
        ]
    },
    {
        "id": "88a14105987a2418",
        "type": "inject",
        "z": "a4ae02364d749f7a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "str",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "50511441efa9a6a1",
                "7f07e2a5530fef48"
            ]
        ]
    },
    {
        "id": "f9894c829b5dd2d1",
        "type": "ui_text",
        "z": "a4ae02364d749f7a",
        "group": "82dec376c5984714",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Texto de prueba - Label",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 370,
        "y": 80,
        "wires": []
    },
    {
        "id": "7f07e2a5530fef48",
        "type": "ui_gauge",
        "z": "a4ae02364d749f7a",
        "name": "",
        "group": "ce0eea5d01061166",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.topic}}",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#75507b",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 370,
        "y": 160,
        "wires": []
    },
    {
        "id": "50511441efa9a6a1",
        "type": "ui_chart",
        "z": "a4ae02364d749f7a",
        "name": "",
        "group": "ce0eea5d01061166",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "10",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 370,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "82dec376c5984714",
        "type": "ui_group",
        "name": "texto - grupo1",
        "tab": "03ebb3b05a34d307",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ce0eea5d01061166",
        "type": "ui_group",
        "name": "Graficos - Group 2",
        "tab": "03ebb3b05a34d307",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "03ebb3b05a34d307",
        "type": "ui_tab",
        "name": "Flow3",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]